name: Swift Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macOS-12

    steps:
    - uses: actions/checkout@v3

    - name: Build
      run: xcodebuild -scheme telltime-Package -destination "platform=iOS Simulator,name=iPhone 14 Pro"

    - name: Run test
      run: xcodebuild test -scheme telltime-Package -destination "platform=iOS Simulator,name=iPhone 14 Pro"

    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: failed-screenshots
        path: '~/Library/Developer/CoreSimulator/Devices/*/data/tmp/*Tests'
        retention-days: 5
