name: Xcode Unit Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macOS-11

    steps:
    - uses: actions/checkout@v2

    - name: Linter
      run: swiftlint

    - name: Xcode version
      run: /usr/bin/xcodebuild -version

    - name: Create iPhone SE Simulator
      run: xcrun simctl create "iPhone SE (1st generation)" "iPhone SE (1st generation)"

    - name: Xcode test on iPhone SE
      run: xcodebuild clean test -scheme telltime -destination 'platform=iOS Simulator,name=iPhone SE (1st generation)'

    - uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: failed-screenshots
        path: '~/Library/Developer/CoreSimulator/Devices/*/data/tmp/*Tests'
        retention-days: 5
